%h2 Important Instructions
%p
	You will now meet a series of people being helped by a charity. The charities that have been chosen are all 
	%b real
	, and any donation you make will go to the actual charity.  The people you will meet are not real people, but they are representative of people that the charities are helping.
%p For each person, you will be given a brief description of why they are being helped, and you will told a little bit about them as a person. You will then be asked a series of questions, including whether you would like to make a donation to the charity helping them.
%p At the end, you will also be asked to complete a few surveys about yourself.

%h3 This is how your payment works - read carefully:
%ul
	%li You will receive $1 for your participation no matter what.
	%li You are being given a $1 endowment, which you can donate none, some, or all of.  Whatever you don't donate will paid to you as a bonus.
	%li For each person you meet, you will have the chance to donate from your endowment (from $0 to $1 for each person).  At the end of the experiment, ONE person will be chosen at random.  The amount you chose to donate to that person will be donated, and the rest goes to you as a bonus payment.
	%li 
		%b An example:
		say you choose to donate $0.80 to Sally, $.70 to Bob, and $1.00 to Joe.  At the end of the experiment, Bob is randomly chosen.  
		%ol
			%li The amount you selected for Bob ($0.70) is donated to the charity helping people like Bob
			%li You will receive a $0.30 bonus ($1 minus $0.70).
	%li 
		%u
			This means that every donation is 
			%b unrelated
			to all the other donations - it does NOT make sense to divide your money among people. Because only ONE person gets chosen at the end (i.e. Bob), it will not matter how much you donated to Sally or Joe!!

%p=submit_tag("Let's Begin!", :class => 'big_button')